@use 'sizes' as *;

.about {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: $size-2 $size-3;
    font-size: $size-4;
}

.title {
    text-decoration: underline;
}

.aboutMeText {
    line-height: 1.6;
}