@use 'sizes' as *;
@use 'palette' as *;

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card {
    max-width: 800px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-primary;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $size-5;
}

.left {
    margin-right: $size-5;
    .image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid $color-primary;
    }
}

.text {
    line-height: 1.6;
    text-align: justify;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}