@use "palette" as *;


.experience {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .card {
        max-width: 800px;
        height: 600px;
    }

    .title {
        color: $color-primary;
    }
}
