@use 'sizes' as *;
@use 'shadows' as *;

.logo {
  display: flex;
  font-size: $size-9;
  user-select: none;
  cursor: pointer;

  &.small {
    font-size: $size-5;
  }

  &.medium {
    font-size: $size-7;
  }

  &.large {
    font-size: $size-9;
  }
}
