@use "palette" as *;

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  margin: 20px 0;
}

.timelineItem {
  display: flex;
  flex-direction: row;
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center ;
  }

  .connector {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top, .bottom {
        width: 2px;
        min-height: 10px;
        height: 100%;
        background-color: $color-primary;
        flex: 1;
    }

    .bullet {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }

}
