@import "sizes.scss";
@import "shadows.scss";

.footer {
    display: flex;
    justify-content: center;
    box-shadow: $shadow-3;
    width: 100%;
    padding: $size-2 $size-3;
    font-size: $size-3;
}